<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About</title>
    <link rel='stylesheet' href='/stylesheets/about.css' />
    <link rel="shortcut icon" href="images/android-chrome-512x512.png" type="image/x-icon">
    <script src="https://cdn.tailwindcss.com"></script>
</head>
<body class="bg-zinc-200">
<!-- TODO:navbar -->
    <div class="w-full h-16 bg-zinc-300 px-5 fixed z-20">
    <div class="h-full w-full flex justify-between items-center">
      <div class="w-fit h-fit px-2 flex items-center"><span class="text-orange-500 text-4xl font-semibold">S</span><span class="text-white text-5xl font-semibold drop-shadow-lg">S</span><span class="text-green-500 text-4xl font-semibold">S</span></div>
      <div class="w-[30%] h-full flex justify-around items-center ">
        <a href="/" class="link text-center  w-24  text-[1.3vw] hover:font-semibold"><span class="relative z-10 link-text">Home</span></a>
        <a href="/about" class="first-link text-center  w-24  text-[1.3vw] font-semibold"><span class="relative z-10 text-white">About</span></a>
        <a href="/docs" class="link text-center  w-24  text-[1.3vw] hover:font-semibold"><span class="relative z-10 link-text">Docs</span></a>
        <a href="/contact" class="link text-center  w-24  text-[1.3vw] hover:font-semibold"><span class="relative z-10 link-text">Contact</span></a>
      </div>
    </div>
  </div>
<!-- TODO: Heading -->
<div class="pt-20">
<h1 class="text-center text-6xl font-['Algerian'] tracking-widest">About</h1>
<div class="h-1 mx-2 bg-zinc-300"></div>
<div class="h-1 mx-2 bg-zinc-300 mt-1"></div>
</div>
<div class="w-full">
    <p class="font-bold text-2xl text-center mb-4">We build this web-site to encourage people doing online transaction doing, instead hand to hand transfer.</p>
    <div class="px-52 mt-16 flex justify-center w-full">
    <p id="gsapp" class="text-2xl font-sm font-semibold text-justify text-zinc-200">Welcome to our online payment awareness website! In today's digital era, understanding the ins and outs of online payments is crucial for safe and secure transactions. Whether you're a seasoned online shopper or just dipping your toes into e-commerce, our platform provides invaluable resources to enhance your awareness. From recognizing common payment scams to mastering encryption protocols, we're dedicated to empowering users with the knowledge they need to navigate the digital payment landscape confidently. Join us on this journey towards financial literacy and safeguard your online transactions with our comprehensive guides, tips, and expert advice. Start your journey to secure online payments today!</p>
    </div>
</div>
<div class="w-full absolute bottom-0 bg-black py-5 px-2">
    <div class="w-fit flex  gap-x-14 px-6">
      <h1 class="text-white text-2xl">Details||</h1>
      <ul style="list-style-type:disc;" class="flex flex-col whitespace-nowrap">
        <strong class="text-white border-b-2 pb-[0.05vw] text-xl">Suvam Chakraborti(CEO)</strong>
        <li class="text-zinc-500 font-semibold mt-2">Phone no. - 8001165553</li>
        <li class="text-zinc-500 font-semibold">Email - nfgaming4523@gmail.com</li>
        <li class="text-zinc-500 font-semibold mb-1">Part - Frontent & Backend Dev.</li>
      </ul>
      <ul style="list-style-type:disc;" class="flex flex-col whitespace-nowrap">
        <strong class="text-white border-b-2 pb-[0.05vw] text-xl">Subhasish Addya(Manager)</strong>
        <li class="text-zinc-500 font-semibold mt-2">Phone no. - 8918950886</li>
        <li class="text-zinc-500 font-semibold mb-1">Email - riju041199@gmail.com</li>
      </ul>
      <ul style="list-style-type:disc;" class="flex flex-col whitespace-nowrap">
        <strong class="text-white border-b-2 pb-[0.05vw] text-xl">Suryadip Mondal</strong>
        <li class="text-zinc-500 font-semibold mt-2">Phone no. - 9932513526</li>
        <li class="text-zinc-500 font-semibold mb-1">Email - mailtosuryadip23@gmail.com</li>
      </ul>
      <ul style="list-style-type:disc;" class="flex flex-col whitespace-nowrap">
        <strong class="text-white border-b-2 pb-[0.05vw] text-xl">Diptanu Mondal</strong>
        <li class="text-zinc-500 font-semibold mt-2">Phone no. - 6295703626</li>
        <li class="text-zinc-500 font-semibold mb-1">Email - diptanuranju@gmail.com</li>
      </ul>
    </div>
  </div>
</body>
<!-- TODO: gsap -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.12.5/gsap.min.js" integrity="sha512-7eHRwcbYkK4d9g/6tD/mhkf++eoTHwpNM9woBxtPUBWm67zeAfFC+HrdoE2GanKeocly/VxeLvIqwvCdk7qScg==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
<!-- TODO: My javascript -->
<script src="javascripts/about.js"></script>
</html>