<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/stylesheets/contact.css">
    <link rel="shortcut icon" href="images/android-chrome-512x512.png" type="image/x-icon">
    <script src="https://cdn.tailwindcss.com"></script>
    <style>
      body::-webkit-scrollbar{
        display: none;
      }
    </style>
    <title>Contact</title>
</head>
<body>
    <div class="w-full h-16 px-5 fixed z-20">
    <div class="h-full w-full flex justify-between items-center">
      <div class="w-fit h-fit px-2 flex items-center"><span class="text-orange-500 text-4xl font-semibold">S</span><span class="text-white text-5xl font-semibold drop-shadow-lg">S</span><span class="text-green-500 text-4xl font-semibold">S</span></div>
      <div class="w-[30%] h-full flex justify-around items-center ">
        <a href="/" class="link text-center text-white w-24  text-[1.3vw] hover:font-semibold"><span class="relative z-10 link-text">Home</span></a>
        <a href="/about" class="link text-center text-white w-24  text-[1.3vw] hover:font-semibold"><span class="relative z-10 link-text">About</span></a>
        <a href="/docs" class="link text-center text-white w-24  text-[1.3vw] hover:font-semibold"><span class="relative z-10 link-text">Docs</span></a>
        <a href="/contact" class="first-link text-center text-white w-24  text-[1.3vw] font-semibold"><span class="relative z-10 text-black">Contact</span></a>
      </div>
    </div>
  </div>
  <div class="w-full h-[108vh] bg-[url('https://images.unsplash.com/photo-1599050751795-6cdaafbc2319?q=80&w=1856&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D')] bg-cover brightness-90">
    <div id="form" class="mt-7 w-1/2 h-fit py-8 absolute left-[50%] top-[40%] -translate-x-[50%] -translate-y-[50%] rounded-lg">
  <form action="" class="w-full h-full flex flex-col items-center justify-center gap-y-2">
        <label for="name" class="text-white text-2xl font-semibold">- Username - </label>
        <input type="text" class="w-3/5 h-10 outline-none px-5">
        <label for="email" class="text-white text-2xl font-semibold">- Email - </label>
        <input type="email" class="w-3/5 h-10 outline-none px-5">
        <label for="name" class="text-white text-2xl font-semibold">- Message - </label>
        <textarea name="" id="text" cols="46" rows="8" class="px-2 py-2 outline-none text-xl"></textarea>
        <input type="submit" value="Send Message" class="text-black bg-zinc-100 px-5 py-1 font-semibold text-lg tracking-wide rounded-lg mt-2 ">
    </form>
    </div>
</div>
<div class="w-full absolute -bottom-[13%] bg-black py-5 px-2">
    <div class="w-fit flex  gap-x-14 px-6">
      <h1 class="text-white text-2xl">Details ||</h1>
      <ul style="list-style-type:disc;" class="flex flex-col whitespace-nowrap">
        <strong class="text-white border-b-2 pb-[0.05vw] text-xl">Suvam Chakraborti(CEO)</strong>
        <li class="text-zinc-500 font-semibold mt-2">Phone no. - 8001165553</li>
        <li class="text-zinc-500 font-semibold">Email - nfgaming4523@gmail.com</li>
        <li class="text-zinc-500 font-semibold mb-1">Part - Frontent & Backend Dev.</li>
      </ul>
      <ul style="list-style-type:disc;" class="flex flex-col whitespace-nowrap">
        <strong class="text-white border-b-2 pb-[0.05vw] text-xl">Subhasish Addya(Manager)</strong>
        <li class="text-zinc-500 font-semibold mt-2">Phone no. - 8918950886</li>
        <li class="text-zinc-500 font-semibold mb-1">Email - riju041199@gmail.com</li>
      </ul>
      <ul style="list-style-type:disc;" class="flex flex-col whitespace-nowrap">
        <strong class="text-white border-b-2 pb-[0.05vw] text-xl">Suryadip Mondal</strong>
        <li class="text-zinc-500 font-semibold mt-2">Phone no. - 9932513526</li>
        <li class="text-zinc-500 font-semibold mb-1">Email - mailtosuryadip23@gmail.com</li>
      </ul>
      <ul style="list-style-type:disc;" class="flex flex-col whitespace-nowrap">
        <strong class="text-white border-b-2 pb-[0.05vw] text-xl">Diptanu Mondal</strong>
        <li class="text-zinc-500 font-semibold mt-2">Phone no. - 6295703626</li>
        <li class="text-zinc-500 font-semibold mb-1">Email - diptanuranju@gmail.com</li>
      </ul>
    </div>
  </div>
</body>
</html>