<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="images/android-chrome-512x512.png" type="image/x-icon">
    <script src="https://cdn.tailwindcss.com"></script>
    <link
    href="https://cdn.jsdelivr.net/npm/remixicon@4.2.0/fonts/remixicon.css"
    rel="stylesheet"
/>
    <title>Login</title>
</head>
<body>
    <div class="absolute top-0 left-4">
        <img class="h-16" src="/images/1713512436194.png" alt="">
    </div>
    <div class="w-full h-screen flex items-center justify-center">
        <img class="absolute -z-10 h-screen w-full" src="https://images.unsplash.com/photo-1611725450473-d18c7b751c59?q=80&w=2070&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D" alt="">
        <div class="p-14 w-fit h-fit rounded-lg flex flex-col items-center" style="backdrop-filter:blur(10px); background:rgba(255, 255, 255, 0.266);">
            <div class="w-16 h-16">
            <img class="w-full h-full" src="/images/android-chrome-512x512.png" alt="">
            </div>
            <h1 class="text-zinc-900 text-2xl font-bold mt-2">- Login Your Account -</h1>
            <% if(error.length > 0){ %>
          <p class="text-black font-bold tracking-widest text-xl"><%= error %></p>
          <% } %>
        <form action="/login" method="post" class="flex flex-col items-center relative">
            <input class="outline-none rounded-lg mt-5 inline-block w-80 bg-white border-2 border-black placeholder:text-zinc-900 font-semibold text-lg h-10 px-2" type="email" name="email" id="" placeholder="User@gmail.com" autocomplete="on">
            <input class=" outline-none rounded-lg mt-5 inline-block w-80 bg-white border-2 border-black placeholder:text-zinc-900 font-semibold text-lg h-10 px-2" type="password" name="password" id="see" placeholder="Password" autocomplete="off"><span id="pass" class="absolute top-[49%] right-3"><i class="ri-eye-close-line"></i></span>
            <input class="bg-red-500 mt-5  px-24 py-1 text-lg text-white rounded-lg border-2 border-black uppercase" type="submit" value="Login">
            <a href="/register" class="text-lg text-white absolute -right-4 underline -bottom-7 font-semibold">- New user -</a>
        </form>
        </div>
    </div>
</body>
</html>
<script>
var x = document.getElementById("see");
var pass = document.getElementById("pass");
pass.addEventListener("click", function() {
    if(x.type == "password") {
        x.type = "text";
        pass.innerHTML = `<i class='ri-eye-line'></i>`;
    }else {
        x.type = "password";
        pass.innerHTML = `<i class="ri-eye-close-line"></i>`;
    }
})
</script>