<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="images/android-chrome-512x512.png" type="image/x-icon">
    <script src="https://cdn.tailwindcss.com"></script>
    <link
    href="https://cdn.jsdelivr.net/npm/remixicon@4.2.0/fonts/remixicon.css"
    rel="stylesheet"
/>

    <title>Register</title>
</head>
<body>
    <div class="absolute top-0 left-4 z-10">
        <img class="h-16" src="/images/1713512436194.png" alt="">
    </div>
    <div class="w-full h-screen flex items-center justify-center">
        <img class="absolute h-screen w-full  brightness-50" src="https://images.unsplash.com/photo-1597058712635-3182d1eacc1e?q=80&w=1974&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D" alt="">
        <div class="p-14 w-fit h-fit rounded-lg flex flex-col items-center relative" style="backdrop-filter:blur(15px); background:rgba(255, 255, 255, 0.266);">
            <div class="w-20 h-20">
            <img class="w-full h-full" src="/images/android-chrome-512x512.png" alt="">
            </div>
            <h1 class="text-xl font-bold text-white">- Create New Account -</h1>
        <form action="/register" method="post" class="flex flex-col items-center relative">
            <h1 class="text-white text-lg font-semibold mt-2">-Full Name-</h1>
            <p id="name-error" class="absolute top-7 text-zinc-100 font-semibold hidden"></p>
            <input class="outline-none rounded-lg mt-4 inline-block w-80 border-2 border-black placeholder:text-zinc-900 font-semibold text-lg h-10 px-2" type="text" name="fullname" id="name" placeholder="FullName" autocomplete="off">
            <h1 class="text-white text-lg font-semibold">-Email-</h1>
            <p id="email-error" class="absolute top-28 text-zinc-100 font-semibold hidden"></p>
            <input class="outline-none rounded-lg mt-4 inline-block w-80 border-2 border-black placeholder:text-zinc-900 font-semibold text-lg h-10 px-2" type="email" name="email" id="email" placeholder="Email (like - abcd@gmail.com)" autocomplete="off">
            <h1 class="text-white text-lg font-semibold">-Username-</h1>
            <p id="user-error" class="absolute top-[49%] text-zinc-100 font-semibold hidden"></p>
            <input class="outline-none rounded-lg mt-4 inline-block w-80 border-2 border-black placeholder:text-zinc-900 font-semibold text-lg h-10 px-2" type="text" name="username" id="username" placeholder="Username (like - Abc123)" autocomplete="off">
            <h1 class="text-white text-lg font-semibold">-Password-</h1>
            <p id="pass-error" class="absolute top-[70%] text-zinc-100 font-semibold hidden"></p>
            <input class="outline-none rounded-lg mt-4 inline-block w-80 border-2 border-black placeholder:text-zinc-900 font-semibold text-lg h-10 px-2" type="password" name="password" id="seeing" placeholder="Password (like - Abc@123)" autocomplete="off"> <span id="pass" class="absolute top-[77%] right-3"><i class="ri-eye-close-line"></i></span>
            <input class="bg-red-500 mt-5  px-24 py-1 text-lg text-white rounded-lg border-2 uppercase border-black" type="submit" value="Sign In" onclick="return check()">
        </form>
        <a class="absolute text-white underline bottom-3 right-9 text-lg font-semibold " href="/login">- Login -</a>
        </div>
    </div>
</body>
<script src="/javascripts/register.js"></script>
</html>